.card
{
  .card-img-overlay
  {
    .btn,.btn-light
    {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    }
  }
  .card-title
  {
    font-size: 15px;
  }

  .text-muted
  {
    color: #bdbdbd !important;
  }

  .card-body
  {
    .text-muted
    {
      font-weight: 700;
    }
  }

  .card-footer
  {
    background: #ffffff !important;
    border-top: none !important;

    .text-muted
    {
      font-weight: 400;
    }

  }


}
